body{
  background-color: rgb(134, 187, 216);
}

.rootClass {
  display: flex;
  background-color: rgb(134, 187, 216);
  justify-content: space-between;
  align-items: stretch;
  
}

.columnClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(47, 72, 88);
  height: max-content;
  row-gap: 125px;

  
  
  
   
}

.itemClass {
  height: max-content;
  justify-content: center;
  
  
  
}

.ComponentCenterClass {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: stretch;
}






